/* Desktop */
html {
  background-color: #f6f3ef;
  /* Baggrundsfarve */
  --color-bg: #f6f3ef;

  /* CTA farve */
  --color-cta: #6b5a4d;

  /* Tekst farver */
  --color-text: #4a3f38;

  /* Tekst border */
  --color-border: #6b5a4d;

  /* Tekst header */
  header {
    --color-header: #cfc6bd;
  }

  /* Tekst footer */
  footer {
    --color-header: #cfc6bd;
  }
}

/* Desktop */
@media (width > 800px) {
  /* Font family og størrelser */
  h1 {
    font-family: "Cormorant Bold";
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-text);
  }

  h2 {
    font-family: "Worksans Light";
    font-size: 3rem;
    font-weight: 100;
    color: var(--color-text);
    text-align: center;
  }

  p {
    font-family: "Worksans regular";
    font-size: 1.125rem;
    font-weight: 100;
    color: var(--color-text);
  }
}

/* Mobile first */
@media (max-width: 800px) {
  hmtl {
    background-color: var(--color-bg);
  }

  h1 {
    font-family: "Cormorant Bold";
    font-size: 2.25rem;
    color: var(--color-text);
  }

  h2 {
    font-family: "Worksans Light";
    font-size: 1.75rem;
    font-weight: 100;
    color: var(--color-text);
    text-align: center;
  }

  p {
    font-family: "Worksans regular";
    font-size: 0.875rem;
    font-weight: 100;
    color: var(--color-text);
  }
}
