/* Fonts */
@font-face {
  font-family: "Cormorant bold";
  src: url("../fonts/CormorantGaramond-VariableFont_wght.woff2");
  font-style: normal;
}

@font-face {
  font-family: "Cormorant SemiBold";
  src: url("../fonts/CormorantGaramond-VariableFont_wght.woff2");
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Regular";
  src: url("../fonts/CormorantGaramond-VariableFont_wght.woff2");
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Medium Italic";
  src: url("../fonts/CormorantGaramond-Italic-VariableFont_wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Worksans regular";
  src: url("../fonts/WorkSans-VariableFont_wght.woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Worksans Light";
  src: url("../fonts/WorkSans-VariableFont_wght.woff2");
  font-style: normal;
}
