footer {
  padding-top: 40px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.footer-right {
  display: flex;
  flex-direction: column;
}

/* Footer mobile */
@media (max-width: 851px) {
  footer {
    padding-top: 5px;
  }

  .footer-container {
    display: flex;
    grid-template-columns: 2fr 1fr;
    flex-direction: row;
    gap: 0.5rem;
    text-align: center;
  }

  .footer-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    gap: 1rem;
  }

  .footer-right p {
    font-size: small;
  }

  footer img {
    width: 10%;
  }
}
